# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# 仮想環境
venv/
ENV/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# 環境変数
.env

# Firebase
*firebase*.json

# その他
.DS_Store
*.log

# OS
Thumbs.db

# Stripe関連
stripe_webhook_secret.txt 